body{
    font-family: "Roboto", Arial;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

input{
    display: block;
}

img{
    width: 400px;
    display: inline-block;
}

#channel-pic{
    width: 100%;
    border-radius: 50%;
}

#outer-div-1{
    display: inline-block;
    width: 500px;
    vertical-align: top;
    margin-right: 15px;
}

#outer-div-2{
    display: inline-block;
    width: 500px;
    vertical-align: top;
    margin-right: 15px;
}

#channel-div-1{
    display: inline-block;
    width: 70px;
    vertical-align: top;
}

#div-inner-2{
    display: inline-block;
    width: 310px;
    margin-left: 10px;
}

#title-p{
    margin-top: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

#youtube-name{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 5px;
}

#youtube-details{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 3px;
}

#div-inner-1{
    margin-top: 5px;
}

#div-outer-a1{
    display: inline-block;
}